<!--The content below is only a placeholder and can be replaced.-->
<div class="main-div">
<div  class="heading-class">
<h1 [style.color]="'black'">Welcome</h1>
<p>to my library..</p>
</div>
<div class="hidden-class">
<label>Want to see hidden message?</label>
Yes:<input  name="isHidden" type="checkbox" [(ngModel)]="isHidden" />
<div [hidden]="!isHidden">
    This is secrete message......
</div>
</div>

<div class="form-class">
  <label class="label-class">Enter your name:</label><br>
<input class="input-class" name="Name" type="text" [(ngModel)]="libraryRecord.name" required><br>
<label class="label-class">Select Book:</label><br>
  <select class="input-class" name="gender"  [(ngModel)]="libraryRecord.bookName" >
    <option *ngFor="let book of books" value={{book}}>{{book}}</option>  
  </select><br>
  <label class="label-class">Enter Email:</label><br>
  <input class="input-class"  name="officialEmail" [ngModel]="libraryRecord.email" required [pattern]="emailPattern" #offEmail="ngModel"> 
  <br>
  <div *ngIf="offEmail.errors"> 
    <div *ngIf="offEmail.errors.required"> 
        <label class="label-class1">(Email required.)</label>
    </div>			   
    <div *ngIf="offEmail.errors.pattern"> 
      <label class="label-class1">(Email is not valid.)</label>
    </div>	
  </div>   
  <label class="label-class">Select return date:</label><br>
  <input class="input-class" name="Date" type="date" [(ngModel)]="libraryRecord.returnDate" /><br><br>
  <div [hidden]="isValidData">
    Please enter all fields..
  </div>

  <button class="button-class" (click)="addDetails()">Issue Book</button>
</div>
<div class="live-feed">
  <h2>Live feed</h2>
    <label class="label-class1">Name: {{libraryRecord.name}}</label><br>
    <label class="label-class1">Book Name: {{libraryRecord.bookName}}</label><br>
    <label class="label-class1">Date: {{libraryRecord.returnDate}}</label>

</div>
<div class="info">
    <h2>All Information</h2>
<div *ngIf="records.length > 0">
    <table >
        <thead>
          <td>Name</td>
          <td>Book Name</td>
          <td>Date of Return</td>
        </thead>
        <tbody>
          <tr  *ngFor="let record of records" >
            <td>{{record.name}}</td>
            <td>{{record.bookName}}</td>
            <td>{{record.returnDate}}</td>    
          </tr>
        </tbody>
      </table>
      
</div>
<div *ngIf="records.length == 0">
    <p>No records available..</p>
      </div>
</div>

</div>
<router-outlet></router-outlet>
